@media (min-width: 1024px) {
  .header {
    margin-bottom: 38px;
    min-height: 768px;
  }
  .header__theme-menu {
    grid-column: 1/3;
    margin-block-start: -4.3%;
    margin-inline: 38.8%;
  }

  .header__theme-menu-item {
    margin-right: 12px;
    margin-block: -1px;
  }

  .main-text {
    column-gap: 21px;
    row-gap: 19.789px;
  }
}
