@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.789fr;
  }

  .header__theme-menu {
    grid-column: 2;
    margin-block-start: 32.94%;
  }

  .main {
    padding: 60px 20px;
  }

  .main-text {
    column-gap: 19.5px;
    row-gap: 19.9px;
  }
}
