@media (min-width: 768px) {
  .header {
    max-height: 1024px;
  }

  .header-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.13fr 1fr 1.51fr;
  }

  .header__theme-menu {
    grid-column: 2;
    margin-block-start: 0;
  }

  .main {
    padding: 60px 20px;
  }

  .main-text {
    column-gap: 19.5px;
    row-gap: 19.9px;
  }
}
