.section {
  display: grid;
  row-gap: 20px;
  margin-bottom: 49.79px;
}


.section.section_gap {
  column-gap: 20px;
}

.paragraph_line-height {
  line-height: 1.299em;
}

@media (min-width: 768px) {
  .section {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    column-gap: 40px;
    margin-bottom: 78.9px;
  }

  .card_grid-column {
    grid-column: 2/4;
  }

  .card_grid {
    grid-column: 1/4;
  }

  .section_advies {
    display: grid;
    row-gap: 20px;
  }
}

@media (min-width: 1024px) {
  .card_grid {
    grid-column: inherit;
    grid-row: 2;
  }

  .cards_row-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
