.section {
  display: grid;
  row-gap: 20px;
  margin-bottom: 49.79px;
}

.paragraph_line-height {
  line-height: 1.299em;
}

@media (min-width: 768px) {
  .section {
    align-items: start;
    column-gap: 32px;
    margin-bottom: 82.9px;
  }

  .card-column {
    grid-column: 2/4;
  }

  .card-adataption {
    grid-column: 1/4;
  }
}

@media (min-width: 1024px) {
  .card-adataption {
    grid-column: inherit;
    grid-row: 2;
  }
}