/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  height: 100vh;
  min-height: 668px;
  padding: var(--padding);
  position: relative;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  margin-top: min(10.3%, 12%);
}

.header__theme-menu-item {
  list-style: none;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .header__theme-menu-list {
    margin-block-start: 20px;
  }
}

@media (max-width: 1023px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__theme-menu-item:not(:last-child) {
    margin-bottom: 7.7px;
  }

  .header__theme-menu-item {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .header__theme-menu-item {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-item {
    margin-right: 12px;
    margin-block: -1px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__theme-menu-list {
    margin-inline: -19px;
    margin-block-start: 143px;
  }
  
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: var(--main-font), sans-serif;
  font-weight: normal;
  padding: 1.9px 12.3px;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--button-text-color);
  border: transparent 1px solid;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-text-color);
}

.header__theme-menu-button_active:disabled {
  color: var(--button-text-color);
  pointer-events: none;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  background-position: center;
  background-image: var(--bg-image);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: var(--font-weight-lv);
}

.main {
  padding: 40px 10px;
}

.section_heading {
  font-weight: var(--font-weight-vll);
  font-size: var(--font-size);
  color: var(--section-heading-color);
}

.main a {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 1px var(--accent-color);
}

.main a:hover {
  border-bottom: 1px var(--border-color) solid;
}

.main a:focus {
  outline: none;
}

.main a:focus-visible {
  outline: 1px solid var(--border-color);
}

.footer {
  height: 100vh;
  padding: var(--padding);
}
