/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header {
  height: 100vh;
  min-height: 668px;
  padding: var(--padding);
  position: relative;
  display: grid;
  grid-template-rows: 0.76fr min-content 1fr;
  justify-items: end;
  align-items: center;
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
  margin-block-start: 16px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
}

.header__theme-menu-item {
  list-style: none;
  margin-right: 10px;
}

@media (max-width: 1023px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: end;
  }

  .header__theme-menu-item:not(:last-child) {
    margin-bottom: 10.7px;
  }

  .header__theme-menu-item {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .header__theme-menu-item {
    justify-content: center;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: var(--main-font), sans-serif;
  font-weight: normal;
  padding: 0.1px 12.3px;
  text-transform: lowercase;
  font-size: 18px;
  color: var(--button-text-color);
  border: transparent 1px solid;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-text-color);
}

.header__theme-menu-button_active:disabled {
  color: var(--button-text-color);
  pointer-events: none;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  background-position: center;
  background-image: var(--bg-image);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: var(--font-weight-lv);
}

.main {
  padding: 41px 10px;
}

.main a {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 1px var(--accent-color);
}

.main a:hover {
  border-bottom: 1px var(--border-color) solid;
}

.main a:focus {
  outline: none;
}

.main a:focus-visible {
  outline: 1px solid var(--border-color);
}

.footer {
  height: 100vh;
  min-height: 668px;
  padding: var(--padding);
  position: relative;
  display: grid;
}
